{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">


  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}

  <div class="row justify-content-center align-items-center h-100">

    <div class="col-md-9 col-lg-6 col-xl-5">
      <h2> Welcome to BookShelf</h2>
      <p>A place for readers to share what is on their shelves.</p>

      <p>{% blocktrans %}No account? Then please
        <a href="{{ signup_url }}">create an account</a> first.{% endblocktrans %}</p>
      {% endif %}
    </div>


    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
      <h1>{% trans "Sign In" %}</h1>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>




 


  </div>
</div>
{% endblock %}