<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
  <title>Sign Out</title>
</head>

<body>
  {% load i18n %}

  {% block content %}
  <div class="container">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-4 text-center">

        <p class="mt-5 display-6">{% trans 'Are you sure you want to sign out?' %}</p>
        <img src="https://res.cloudinary.com/dzg7yacrw/image/upload/v1673262941/assets/site_images/question_aqbsll.png"
          class="img-fluid" alt="A question mark on a blue circle background.">

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-primary mt-3"><span
              class="display-6">{% trans 'Sign Out' %}</span></button>

          <a href="/" class="btn btn-light mt-3 mx-2"><span class="display-6">Cancel</span></a>
        </form>

      </div>
    </div>
  </div>
  {% endblock %}
</body>

</html>