header {
margin-bottom: 1em;
}

body {
    padding-top: 70px;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
}

#modal-success-icon {
    font-size: xxx-large;
    color: green;
}

#search-icon {
font-size: xx-large;
}