{%extends "base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">


    <h3 class="display-3">{{ book.title }}</h3>
    <h6 class="display-6 text-muted mb-5">{{ book.author }}</h6>


    <div class="row">

        <div class="col-md-6 order-md-2 mb-5">

            <h6 class="display-6">Leave a Comment</h6>
            <form method="post" action="/add_comment/{{ book.id}}">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary"> <span class="display-6">Submit Comment</span></button>
            </form>

        </div>

        <div class="col-md-6 order-md-1">

            <h6 class="display-6">Comments</h6>
            {% if comments %}
            {% for comment in comments %}

            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title fs-6">
                  {{ comment.author.username}}
                  <span class="float-end action-buttons">
                    <button class="btn btn-light btn-small"><a href="#"><i class="fa-solid fa-pen"></i></a></button>
                    <button class="btn btn-light btn-small"><a href="#"><i class="fa-regular fa-trash-can"></i></a></button>
                  </span>
                </h5>
            
                <h6 class="card-subtitle mb-2 text-secondary small">
                  {{ comment.written_on}}
                </h6>

                <p class="card-text">{{ comment.body }}</p>
              </div>

            </div>


            {% endfor %}

            {% else %}
            <p class="lead">Be the first to leave a comment.</p>
            <img class="img-fluid" src="https://res.cloudinary.com/dzg7yacrw/image/upload/v1673517763/assets/site_images/comments_sxmt9j.jpg" alt="Image of people commenting.">
            {% endif %}

            <!--BEGIN Pagination Code-->
            {% if comments.has_other_pages %}
            <ul class="pagination">
                {% if books.has_previous %}
                <li  class="page-item"><a class="page-link" href="?page={{ comments.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
              {% endif %}
              {% for i in comments.paginator.page_range %}
                {% if comments.number == i %}
                  <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if comments.has_next %}
                <li  class="page-item"><a class="page-link" href="?page={{ comments.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
              {% endif %}
            </ul>
            {% endif %}
            <!--END Pagination Code-->

        </div>

    </div>




</div>
{% endblock %}