{%extends "base.html"%}

{% block content %}

<div class="container">

    <div class="row justify-content-between">
        <div class="col-4">
            {% if heading_label%}
            <h2>{{ heading_label }}</h2>
            {% else%}
            <h2>Books</h2>
            {% endif %}
        </div>
        <div class="col-4">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
              </button>
        </div>
    </div>

    {% if books %}

    <!--START Display Books-->
    <div class="row">
        <div class="col-12 mt-3 ">
            <div class="row my-3">

                {% for book in books %}
                <div class="card mx-3" style="width: 18rem;">
                   
                    <img src="{{book.image_url}}" class="card-img-top" alt="An image to describe the genre {{book.get_genre_display}}">
                    
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{book.get_genre_display}}</h6>
                        <p class="card-text">{{book.description}}</p>

                        {% if book.owner == user%}
                        <p class="card-text text-muted">Posted by {{book.owner}}</p>
                        {% else %}
                        <p class="card-text text-muted">Posted by <a href="/books_by_owner/{{book.owner.id}}">{{book.owner}}</a> </p>
                        {% endif%}
                        
                    </div>

                    <div class="card-footer">

                        {% if book.owner == user %}
                        <a href="edit_book/{{book.id}}" class="card-link"><i
                                class="fa-regular fa-pen-to-square"></i></a>
                        <a href="delete_book/{{book.id}}" class="card-link"><i class="fa-regular fa-trash-can"></i></a>
                        {% endif %}
                        <a href="book_detail/{{book.id}}" class="card-link">
                            <i class="fa-regular fa-comment"> {{ book.comments.count }}</i>
                        </a>
                        {% if book.id in liked_books %}
                        <a href="/unlike/{{book.id}}" class="card-link"><i class="fa-solid fa-heart"></i>
                            {{ book.number_of_like }}</a>
                        {% else %}
                        <a href="/like/{{book.id}}" class="card-link"><i class="fa-regular fa-heart"></i>
                            {{ book.number_of_like }}</a>
                        {% endif %}

                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row  my-3">

                {% endif %}

                {% endfor %}

            </div>

        </div>

    </div>
    <!--END Display Books-->

    {% else %}
    <!--Display empty list content.-->
    <div class="row justify-content-center text-center">
        <div class="col-6">
            <p class="display-6">Looks like nothing matched your search.</p>
            <img src="https://res.cloudinary.com/dzg7yacrw/image/upload/v1673264914/assets/site_images/no_results_w3u5d8.jpg"
            class="img-fluid" alt="Empty shelf.">
        </div>
    </div>

    {% endif %}


    <!-- Search Modal Form -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Search</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">

        
            <form action="/search/" method="POST">
                {% csrf_token %}

                {% if genres %}
                <h3>Genre</h3>

                <div class="row">
                    {% for genre in genres %}

                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ genre.0 }}" id="{{ genre.0 }}"
                                name="genres">
                            <label class="form-check-label" for="{{ genre.0 }}">
                                {{ genre.1 }}
                            </label>
                        </div>

                    </div>

                    {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
                    {% endif %}
                    
                    {% endfor %}
                
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="title-search-input">Title</label>
                            <input type="text" class="form-control" id="title-search-input" name="title-search-input">
                        </div>

                        <div class="form-group">
                            <label for="author-search-input">Author</label>
                            <input type="text" class="form-control" id="author-search-input" name="author-search-input">
                        </div>

                        <div class="form-group">
                            <label for="description-search-input">Description Search</label>
                            <input type="text" class="form-control" id="description-search-input" name="description-search-input">
                        </div>
                    </div>
                </div>
                    {% else %}
                    <p>Woops. Something didn't load properly.</p>
                    {% endif %}

                </div>
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Search</button>
                  </div>
            </form>

        </div>

        </div>
      
      </div>
    </div>
  </div>

    {% endblock %}