{%extends "base.html"%}

{% block content %}



<div class="container">
    <h2>Books</h2>
    <div class="row">

        <div class="col-12 mt-3 ">

            <div class="row my-3">

                {% for book in books %}
                <div class="card mx-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{book.genre}}</h6>
                        <p class="card-text">{{book.description}}</p>
                    </div>

                    <div class="card-footer">

                        {% if book.owner == user %}
                        <a href="edit_book/{{book.id}}" class="card-link"><i
                                class="fa-regular fa-pen-to-square"></i></a>
                        <a href="delete_book/{{book.id}}" class="card-link"><i class="fa-regular fa-trash-can"></i></a>
                        {% endif %}
                        <a href="book_detail/{{book.id}}" class="card-link">
                            <i class="fa-regular fa-comment"> {{ book.comments.count }}</i>
                        </a>
                        {% if book.id in liked_books %}
                        <a href="/unlike/{{book.id}}" class="card-link"><i class="fa-solid fa-heart"></i>
                            {{ book.number_of_like }}</a>
                        {% else %}
                        <a href="/like/{{book.id}}" class="card-link"><i class="fa-regular fa-heart"></i>
                            {{ book.number_of_like }}</a>
                        {% endif %}

                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row  my-3">

                {% endif %}

                {% endfor %}

            </div>



        </div>

    </div>


    {% endblock %}