{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
    <!--
This is how you would link to static stylesheet.
If it is a normal css from a CDN, you can just use it as is.

    -->

    <link rel="stylesheet" href="{% static 'css/test_style.css' %}">
    <title>Hello Bookshelf Base</title>
</head>
<body>


    {% block content %}
    {% endblock %}

    <footer>
        For all those who love the printed word.
    </footer>
    
</body>
</html>